<!-- Zeilenabstand implementieren -->
<h2 id="about" >About</h2>
<article id="about-text1" class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolor sit incidunt molestiae sint odit repellat
    sunt dicta, cumque amet, recusandae culpa praesentium debitis libero cupiditate ut natus iste at.Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Cum dolor sit incidunt molestiae sint odit repellat
    sunt dicta, cumque amet, recusandae culpa praesentium debitis libero cupiditate ut natus iste at.Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Cum dolor sit incidunt molestiae sint odit repellat
    sunt dicta, cumque amet, recusandae culpa praesentium debitis libero cupiditate ut natus iste at.</article>
<div class="picture-container">
    <img class="about-nature-img" src="assets/images/about-filler.jpg">
    <div class="about-comment-box">
        <span class="category">EMAIL </span>
        <span class="cat-value"> markus.stitka94@gmail.com </span>
        <span class="category"> ROLE </span>
        <span class="cat-value"> DevOps-Ingineur / Fullstack-Developer </span>
        <span class="category"> PHONE</span>
        <span class="cat-value"> (+49) 999 999 999 </span>
    </div>
</div>
<article id="under-img-article">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, ipsa! Sed quidem, explicabo vel sunt reiciendis?
</article>
<article id="about-text2" class="about-text">Lorem ipsum dolor sit amet  consectetur adipisicing elit.
    Cum dolor sit incidunt molestiae sint odit repellat sunt dicta,
     cumque amet, recusandae culpa praesentium debitis libero cupiditate ut natus iste at.Lorem ipsum
    dolor
    sit amet consectetur adipisicing elit. Cum dolor sit incidunt molestiae sint odit repellat
    sunt dicta, cumque amet, recusandae culpa praesentium debitis libero cupiditate ut natus iste at.Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Cum dolor sit incidunt molestiae sint odit repellat
    sunt dicta, cumque amet, recusandae culpa praesentium debitis libero cupiditate ut natus iste at.
</article>
<img src="assets/images/Unterschrift MS1.png"  class="signature">
