#about {
    scroll-margin-top: 100px;
}

.picture-container {
    position: relative;
    padding: 40px 0 40px 0;
}

.about-nature-img {

    height: 250px;
    width: 100%;
    object-fit: cover;

}

.about-comment-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FEE383;
    right: 12%;
    bottom: -10%;
    padding: 27px 80px 27px 27px;

}

.max-w {
    width: 50%;
}

.category {
    color: #B2A57E;
    font-size: 12px;
    padding: 4px 0 4px 0px
}

.cat-value {
    font-size: 12px;
}

.signature {
    height: 50px;
    opacity: 0.6;
}

.about-text {
    color: #6D6D6D;
}

#under-img-article {
    width: 50%;
    margin-bottom: 2rem;
    color: #6d6d6d;
}

@media (max-width: 1500px) {}

@media (max-width: 1300px) {}

@media (max-width: 1000px) {
    .mobile-break {
        display: block;
    }

    .desktop-break {
        display: none;
    }

}

@media (max-width: 850px) {}


@media (max-width: 700px) {
    h2 {
        padding-left: 8%
    }

    #under-img-article {
        display: none;
    }

    #about-text1 {
        display: none;
    }
    
    .picture-container {
        padding: 0;
        margin-bottom: 6rem;
    }

    .about-comment-box {
        right: 30%;
        bottom: -28%;
    }
    
    .about-text {
        padding: 0 8% 0 8%;
    }
    
    .signature {
        padding-left: 8%;
    }
}
@media (max-width: 400px) {
    .about-comment-box {
        right: unset;
        left: 8%;
        bottom: -28%;
    }
}