<h2 id="work">Work</h2>
<div class="work-element">
    <div class="work-what-and-when">
        <h3>Internship</h3>
        <p>August•2022</p>
    </div>
    <div class="work-specific-and-label">
        <p>Mobile Dashboard</p>
        <div class="work-labels">
            <label>HTML</label>
            <label>CSS</label>
            <label>JavaScript</label>
        </div>
    </div>
</div>


<div class="work-element">
    <div class="work-what-and-when">
        <h3>Internship</h3>
        <p>August•2022</p>
    </div>
    <div class="work-specific-and-label">
        <p>Mobile Dashboard</p>
        <div class="work-labels">
            <label>HTML</label>
            <label>CSS</label>
            <label>JavaScript</label>
        </div>
    </div>
</div>


<div class="work-element">
    <div class="work-what-and-when">
        <h3>Internship</h3>
        <p>August•2022</p>
    </div>
    <div class="work-specific-and-label">
        <p>Mobile Dashboard</p>
        <div class="work-labels">
            <label>HTML</label>
            <label>CSS</label>
            <label>JavaScript</label>
        </div>
    </div>
</div>


<div class="work-element">
    <div class="work-what-and-when">
        <h3>Internship</h3>
        <p>August•2022</p>
    </div>
    <div class="work-specific-and-label">
        <p>Mobile Dashboard</p>
        <div class="work-labels">
            <label>HTML</label>
            <label>CSS</label>
            <label>JavaScript</label>
        </div>
    </div>
</div>

