<div class="mobil-greeting-container">
    <img class="img-greeting" src="assets/images/filler-profil.jpg">
    <div class="greetings-text-btn">
        <h1 class="greetings-text">Hello <br>I'm Markus <br> Stitka</h1>

        <div class="socialm-btn-container">
            <a class="socialm-btn">GIT.</a>
            <a class="socialm-btn">IN.</a>

        </div>

        <button class="greetings-download-cv">Download CV</button>
    </div>


</div>

<div id="greeting" class="greeting-bg">
    <div class="greetings-text-btn">
        <h1 class="greetings-text">Hello <br>I'm Markus <br> Stitka</h1>

        <div class="socialm-btn-container">
            <a class="socialm-btn">GIT.</a>
            <a class="socialm-btn">IN.</a>

        </div>

        <button class="greetings-download-cv">Download CV</button>
    </div>
    <div class="left-side-greeting-bg"></div>
    <div class="right-side-greeting-bg">
        <img class="img-greeting" src="assets/images/filler-profil.jpg">
    </div>
</div>