.greeting-bg {
    max-width: 100%;
    display: flex;
    height: 850px;
}

.left-side-greeting-bg {

    background-color: white;
    width: 165px;
}

.greetings-text-btn {
    position: relative;
    height: 600px;
    max-width: 300px;
}

.greetings-text {
    position: absolute;
    top: 19%;
    width: 460px;
}

.socialm-btn-container {
    position: absolute;
    display: flex;
    bottom: -25%;

}

.socialm-btn {
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 27px 0 0;

}

.greetings-download-cv {
    position: absolute;
    height: 75px;
    width: 200px;
    bottom: -47%;
    background-color: #FEE383;
    border: none;
    cursor: pointer;
    font-weight: 200;
    font-size: 24px;
}

.right-side-greeting-bg {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: beige;
    width: 100%;

    img {
        height: 750px;
        width: 875px;
        object-fit: cover;
    }
}

@media (max-width: 1300px) {
    h1{
        font-size: 60px;
    }
    .greetings-download-cv{
        bottom: -5%;
    }

    .greetings-text{}
    .socialm-btn-container{
        bottom: 6rem;
    }
   
    .greeting-bg{
        height: 37rem;
    }

    .right-side-greeting-bg{
        img{
            height: 32rem;
                width: 37rem;
        }
    }
}