#skills {
    scroll-margin-top: 100px;
}

.skills-container {
    display: grid;
    row-gap: 3.5rem;
    column-gap: 4%;
    grid-template-columns: repeat(3, 1fr);
}

// ffeba5 lighter gold
.single-skill-container {
    height: 9rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fee383;;
    color: #B2B0B0;
}

.single-skill-img-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 9px 7px rgb(0 0 0 / 10%);;
    top: -3rem;
    width: 6rem;
    height: 6rem;
    background: white;
}

.single-skill-text-alignment {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 2.5rem;
}

.single-skill-img {
    width: 50%;
    height: 50%
}

@media (max-width:600px) {
    .single-skill-container {
        height: 7rem;
    }

    .single-skill-img-body {
        top: -1.5rem;
        width: 4rem;
        height: 4rem;
    }

    .single-skill-text-alignment {
        margin-bottom: 1.5rem;
        font-size: 14px;
    }
}