<h2 id="projects">Projects</h2>
<div class="projects-container">
    <div class="single-project-container">
        <img src="/assets/images/filler-profil.jpg" class="project-img padding-left-container">
        <div align="left" class="single-project-text-container padding-right-container ">
            <h3>SAMPLE1</h3>
            <span class="project-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                recusandae
                consequatur culpa alias, ut, aspernatur officiis dolore ratione in quisquam dolor incidunt, unde vero
                ducimus nam fugit earum veniam corrupti!</span>
        </div>
    </div>

    <div class="single-project-container">
        <div align="right" class="single-project-text-container padding-left-container">
            <h3>SAMPLE2</h3>
            <span class="project-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                recusandae
                consequatur culpa alias, ut, aspernatur officiis dolore ratione in quisquam dolor incidunt, unde vero
                ducimus nam fugit earum veniam corrupti!</span>
        </div>
        <img src="/assets/images/filler-profil.jpg" class="project-img padding-right-container ">
    </div>

    <div class="single-project-container">
        <img src="/assets/images/filler-profil.jpg" class="project-img padding-left-container">
        <div align="left" class="single-project-text-container padding-right-container ">
            <h3>SAMPLE3</h3>
            <span class="project-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                recusandae
                consequatur culpa alias, ut, aspernatur officiis dolore ratione in quisquam dolor incidunt, unde
                vero
                ducimus nam fugit earum veniam corrupti!</span>
        </div>
    </div>

    <div align="right" class="single-project-container">
        <div class="single-project-text-container padding-left-container">
            <h3>SAMPLE4</h3>
            <span class="project-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                recusandae
                consequatur culpa alias, ut, aspernatur officiis dolore ratione in quisquam dolor incidunt, unde
                vero
                ducimus nam fugit earum veniam corrupti!</span>
        </div>
        <img src="/assets/images/filler-profil.jpg" class="project-img padding-right-container ">
    </div>
</div>