.footer-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
}

.footer-links-container {

    cursor: pointer;
    color: #9F9F9F;

    a {
        color: #9F9F9F;
        text-decoration: none;
    }

}

.footer-name-container {
    color: #888888;
    padding: 15px;
}

.footer-links {}

@media (max-width: 1500px) {}

@media (max-width: 1300px) {}

@media (max-width: 1000px) {}

@media (max-width: 850px) {}

@media (max-width: 675px) {}

@media (max-width: 400px) {
    .footer-container {
        font-size: 0.7em;
    }
}