
<div id="contact" class="contact-container">
    <div class="contact-left-side">
        <h3 >Let's talk business</h3>
        <p>Now that you know a lot about me,
            let me know if you are interested to work with me.</p>
    </div>
    <div class="contact-right-side">
        <form method="post" action="https://markus-stitka.developerakademie.net/send_mail.php">
            <span class="pad-b-t">Name</span>
            <input required name="name" type="text" class="">
            <span class="pad-b-t">Email</span>
            <input required name="email"  type="email" class="">
            <span class="pad-b-t">Message</span>
            <textarea required name="message" type="text" class="resize-off "></textarea>
            <button type="submit" class ="go-btn pad-b-t">Let's get started</button>
        </form>
    </div>
</div>