#contact {
    scroll-margin-top: 80px;
}

form {
    display: flex;
    flex-direction: column;
}

.contact-left-side {
    width: 50%;
    padding-right: 40px;
}

.contact-right-side {
    width: 50%;
    margin-top: 65px;
    padding-left: 40px;
}

.contact-container {
    display: flex;
    background-color: #FEE383;
    padding: 0 200px 65px 200px;
}

h3 {
    font-size: 50px;
}

.go-btn {
    background-color: black;
    color: white;
    height: 60px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border: none;

    &:hover {
        background-color: rgb(20, 20, 20)
    }
}

textarea {
    min-height: 100px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: none;
    outline: none;
}

.resize-off {
    resize: none;
}

input {
    height: 35px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: none;
    outline: none;
}

.pad-b-t {
    padding: 15px 0 15px 0;
}


@media (max-width: 1450px) {
    .contact-container {
        padding: 0 8% 5% 8%;
    }
}

@media (max-width: 1000px) {}

@media (max-width: 800px) {
    .contact-container {
        padding: 0 8% 0 8%;
        flex-direction: column;
    }

    .contact-left-side {
        width: 100%;
    }

    .contact-right-side {
        width: 100%;
        margin-top: 1rem;
        padding-left: 0;
        margin-bottom: 4.5rem;
    }
}

@media (max-width: 675px) {}

@media (max-width: 700px) {}