<div class="contact-container">
    <div class="contact-left-side">
        <h3 id="contact">Let's talk business</h3>
        <p>Now that you know a lot about me,
            let me know if you are interested to work with me.</p>
    </div>
    <div class="contact-right-side">
        <form>
            <span class="pad-b-t">Name</span>
            <input type="text" class="">
            <span class="pad-b-t">Email</span>
            <input type="email" class="">
            <span class="pad-b-t">Message</span>
            <textarea type="text" class="resize-off "></textarea>
            <button class ="go-btn pad-b-t">Let's get started</button>
        </form>
    </div>
</div>