<header [class.header-dark]="darkMode">

    <img *ngIf="darkMode" [routerLink]="['/']" src="assets/images/filler_black.ico">
    <img *ngIf="!darkMode" [routerLink]="['/']" src="assets/images/filler_white.ico">

    <div [class.dark-links]="darkMode">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/curriculum-vitae']">Curriculum Vitae</a>
        <a [routerLink]="['/projects']">Projects</a>
        <a [routerLink]="['/imprint']" routerLinkActive="router-link-active">Imprint</a>
        <a [routerLink]="['/data-protection']" routerLinkActive="router-link-active">Data Protection</a>
        
    </div>

</header>