<header [class.dyiedHeader]="(dyeHeaderBool && (router.url!='/imprint' && router.url!='/data-protection'))"
    [class.beige-header]="(router.url=='/imprint' || router.url=='/data-protection')" class="mobile-container fixed"
    >
    <a  href="#m-greeting"><img src="assets/images/portfolio-logo.png"></a>
    <img (click)="toggleMenu()" src="/assets/images/menubtn.ico">
    <div [ngStyle]="{'right':menuActive? '0em' : '-10em'}" [class.d-none]="!menuActive" class="mobile-nav-links">
        <a (click)="toggleMenu()" align="right" class="mobile-nav-link" href="#skills">Skills</a>
        <a (click)="toggleMenu()" align="right" class="mobile-nav-link" href="#projects">Projects</a> 
        <a (click)="toggleMenu()" align="right" class="mobile-nav-link" href="#about">About</a>
        <a (click)="toggleMenu()" align="right" class="mobile-nav-link" href="#contact">Contact</a>
    </div>
</header>
<header [class.dyiedHeader]="(dyeHeaderBool && (router.url!='/imprint' && router.url!='/data-protection'))"
    [class.beige-header]="(router.url=='/imprint' || router.url=='/data-protection')" class="desktop-container fixed">

    
    <a class="logo" href="#greeting"><img src="assets/images/portfolio-logo.png"></a>
    <div class="nav-container">
        
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a> 
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </div>
</header>